@font-face {
  font-family: 'Mclaren';
  src: url('../assets/McLaren-Regular.ttf') format('woff2');
}

header {
  background: #F5BA13;
  margin: auto;
  padding: 1rem 2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

h1 {
  color: #FFF;
  font-family: 'Mclaren';
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}